[data-md-color-scheme="light"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
  }

  [data-md-color-scheme="dark"] {
    
    --md-default-bg-color: #3a3a3a;
    --md-default-fg-color: #9e9e9e;
    
  }